.cinema-list {
    margin: 0;
    padding: 0;
}

.cinema-list li {
    list-style: none;
}

.item {
    padding: 5px 0;
}

.item input {
    font-size: 18px;
    padding: 11px 20px;
    width: 30%;
    color: #004d40;
    border: 1px solid black;
    border-right: none;
    outline: none;
}

.item button {
    padding: 11px 20px;
    border: 1px solid black;
    background: mediumturquoise;
    font-size: 18px;
    color: chocolate;

}